html {
    background-color: #F2F2F2;
    font-family: 'Alata', sans-serif;
    font-weight: 400;
}

header {
    padding-top: 98px;
    font-size: 37px;
    line-height: 54px;
    text-align: center;
    color: #373737;
}

.card-header {
    display: flex;
    flex-direction: row;
}

.name-card {
    font-size: 24px;
    line-height: 37px;
    text-align: left;
    margin-top: 30px;
    margin-left: 19px;
    display: flex;
    flex-direction: row;
}

.text-content {
    margin-right: 245px;
    margin-left: 245px;
    font-size: 22px;
    line-height: 38px;
    text-align: center;
    color: #7D7D7D;
}

.date-rectangle {
    margin-left: 31px;
    margin-top: 29px;
    height: 76px;
    width: 76px;
    background: #ECEDFF;
    border-radius: 11px;
    display: flex;
    flex-direction: column;
    justify-items: space-between;
}

.date p {
    margin-top: 10px;
    margin-bottom: 0px;
    color: #717CFF;
    font-size: 27px;
    line-height: 37px;
    text-align: center;
}

.month p{
    margin-top: 1px;
    color: #717CFF;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-items: center;
    margin-left: 124px;
    margin-right: 141px;
}

.text-card {
    margin-left: 31px;
    margin-right: 30px;
    margin-top: 28px;
    margin-bottom: 0px;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.444444px;
    color: rgba(55, 71, 79, 0.721569);
}

.card {
    background-color: white;
    box-shadow: 0px 0px 77px rgba(0, 0, 0, 0.06);
    border-radius: 15px;
    width: 540px;
    height: 308px;
    margin-left: 24px;
    margin-right: 24px;
}

.learn-more {
    margin-left: 31px;
    margin-bottom: 34.38px;
    margin-right: 0px;
    display: flex;
    flex-direction: row;
}

.learn-more p {
    font-size: 17px;
    line-height: 23px;
    letter-spacing: 0.439286px;
    color: #717CFF;
}

.learn-more img {
    margin-left: 21.51px;
}


.time {
    margin-bottom: 31px;
    margin-left: 140px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.time p {
    margin-left: 0px;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.444444px;
    color: #373737;
}

.time img {
    margin-right: 8.67px;
    width: 28px;
    height: 28px;
}

.card-footer {
    display: flex;
    flex-direction: row;
}

.navigation {
	display: flex;
	flex-direction: row;
    align-items: center;
	margin-top: 81px;
    margin-left: 650.5px;
}

.active {
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background: #717CFF;
    margin-left: 10.5px;
    margin-right: 10.5px;
}

.notActive {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: rgba(124, 124, 124, 0.318837);
    margin-left: 10.5px;
    margin-right: 10.5px;
}

